<!-- SCRIPTS -->



<link rel="stylesheet" href="../css/overrides.css">
<link rel="stylesheet" href="../css/skeleton.css">

<footer class="footer">
    <div class="developers">Developed by: Nicolas Sims, Omar Al-Qouran & Gabe Meyerson </div>
    <div class="Contact.us">todo: Enter contact info</div>
</footer>
