</body>
<script src="public/javascripts/main.js"></script>
<footer class="footer">
    <div class="developers">Developed by: Nicolas Sims. Credit claimed by Omar Al-Qouran & Gabe Meyerson</div>
</footer>
