<% include public/views/header.ejs%>

<section class="loginform cf">
    <form name="login" action="index_submit" method="get" accept-charset="utf-8">
        <div class="row">
            <div class="one-third column">&nbsp;</div>
            <div class="one-third column" id="loginScreen">
                <label>Email</label>
                <input type="email" name="usermail" placeholder="yourname@email.com" required>
                <br>
                <label>Password</label>
                <input type="password" name="password" placeholder="password" required>
                <br>
                <br>
                <input type="submit" value="Login">
                <input type="" value=""
            </div>
            <div class="one-third column">&nbsp;</div>
        </div>
    </form>
</section>


<% include public/views/footer.ejs %>