<table id="leaderBoard">
    <thead>
        <tr class="centered" id="lightGrey">
            <th id="username">Username</th>
            <th>Trips</th>
            <th>Mileage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="username0"></td>
            <td id="trips0"></td>
            <td id="mileage0"></td>
        </tr>
        <tr>
            <td id="username1"></td>
            <td id="trips1"></td>
            <td id="mileage1"></td>
        </tr>
        <tr>
            <td id="username2"></td>
            <td id="trips2"></td>
            <td id="mileage2"></td>
        </tr>
        <tr>
            <td id="username3"></td>
            <td id="trips3"></td>
            <td id="mileage3"></td>
        </tr>
        <tr>
            <td id="username4"></td>
            <td id="trips4"></td>
            <td id="mileage4"></td>
        </tr>
        <tr>
            <td id="username5"></td>
            <td id="trips5"></td>
            <td id="mileage5"></td>
        </tr>
        <tr>
            <td id="username6"></td>
            <td id="trips6"></td>
            <td id="mileage6"></td>
        </tr>
        <tr>
            <td id="username7"></td>
            <td id="trips7"></td>
            <td id="mileage7"></td>
        </tr>
        <tr>
            <td id="username8"></td>
            <td id="trips8"></td>
            <td id="mileage8"></td>
        </tr>
        <tr>
            <td id="username9"></td>
            <td id="trips9"></td>
            <td id="mileage9"></td>
        </tr>
        <tr class="centered" id="darkGrey">
            <td id="totals">Totals</td>
            <td id="totalTrips"></td>
            <td id="totalMileage"></td>
        </tr>
    </tbody>
</table>
<button id="loggerButton" class="switchbutton">Logger</button>