<!--
DON'T FORGET TO CHANGE BACK TO EJS
-->

<!--<% include public/views/header.ejs %>-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Div Adder</title>
    <link href="../css/overrides.css" rel="stylesheet">
</head>
<body>
    <div id="bigDiv">
        <div class="leftColumns">Firstdiv</div> <div class="rightColumns">Fourthdiv</div>
        <div class="leftColumns">Seconddiv</div> <div class="rightColumns">Fifthdiv</div>
        <div class="leftColumns">Thirddiv</div> <div class="rightColumns">Sixdiv</div>
    </div>
</body>

<!--<% include public/views/footer.ejs %>-->