<% include public/views/header.ejs %>

    <div>
        <div id="leftColumns"></div><div id="rightColumns"></div>
        <div id="leftColumns"></div><div id="rightColumns"></div>
        <div id="leftColumns"></div><div id="rightColumns"></div>
    </div>

<% include public/views/footer.ejs %>